# DB Configuration
DB_CONNECTION='postgresql+psycopg2'
DB_HOST='localhost'
DB_PORT='5432'
DB_USER='postgres'
DB_PASSWORD='your_secure_db_password'
DB_NAME='dgshortai'

# LLM / AI Model Settings (Choose 'gemini' or 'openai')
AI_PROVIDER_NAME='gemini'
AI_MODEL_NAME='gemini-2.5-flash'
AI_API_KEY='AIzaSyAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

# ElevenLabs Speech Synthesis Settings
ELEVENLABS_API_KEY='el_sk_xxxxxxxxxxxxxxxxxxxxxxxxxxxx'
VOICE_ID='JBFqnCBsd6RMkjVDRZzb'

# Pexels API Configuration
PEXELS_API_URL='https://api.pexels.com/videos/search'
PEXELS_API_KEY='5634b2457xxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

# Google Client Credentials paths (relative or absolute)
GOOGLE_CLIENT_SECRET='config/secret/client_secret.json'
GOOGLE_TOKEN_PICKLE='config/secret/token.pickle'
YOUTUBE_SCOPES='https://www.googleapis.com/auth/youtube.upload'

# Directory Settings
AUDIO_DIRECTORY='data/audio'
VIDEO_DIRECTORY='data/video'
VIDEO_OUTPUT_DIRECTORY='data/output'